Repository saiichihashimoto/mongoose-normalizr: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --color, jsonlint --in-place, sort-package-json

.lintstagedrc:

{
  "**/*.js": [
    "eslint --fix --color",
    "git add"
  ],
  "**/*.json": [
    "jsonlint --in-place",
    "git add"
  ],
  "**/.*rc": [
    "jsonlint --in-place",
    "git add"
  ],
  "package.json": [
    "sort-package-json",
    "git add"
  ]
}

ci(travis): semantic-release
  .travis.yml
  AUTHORS
  package.json
Due: jsonlint --in-place, sort-package-json

ci(travis): build before release
  package-lock.json
  package.json
Due: jsonlint --in-place, sort-package-json

feat(normalizr): Generate normalizr schemes
  .gitignore
  package-lock.json
  src/index.js
Due: eslint --fix --color, jsonlint --in-place

Set theme jekyll-theme-slate
  README.md
  _config.yml
Due: none

Set theme jekyll-theme-merlot
  _config.yml
Due: none

feat(website): generate initial github page
  README.md
Due: none

fix(website): remove irrelevant section
  README.md
Due: none

docs(readme): placed badge
  README.md
Due: none

ci(greenkeeper): greenkeeper-lockfile
  .travis.yml
Due: none

docs(README): simpler output
  README.md
Due: none

fix(api): better inputs
  .babelrc
  README.md
  package-lock.json
  package.json
  src/index.js
Due: eslint --fix --color, jsonlint --in-place, sort-package-json

perf(webpack): use mongoose directly
  package.json
  src/index.js
Due: eslint --fix --color, jsonlint --in-place, sort-package-json

fix(webpack): browser and server have specific endpoints
  package.json
  src/findNormalizrs.js
  src/index.js
  src/index.web.js
Due: eslint --fix --color, jsonlint --in-place, sort-package-json

Add Gitter badge
  README.md
Due: none

docs(gitter): gitter badge in readme
  README.md
Due: none

fix(mongoose): use mongoose-legacy-pluralize
  package-lock.json
  package.json
  src/findNormalizrs.js
  src/index.js
  src/index.web.js
Due: eslint --fix --color, jsonlint --in-place, sort-package-json

docs(readme): explain mongoose-legacy-pluralize
  README.md
Due: none

fix(browser): remove browser field
  package.json
Due: jsonlint --in-place, sort-package-json

feat(virtuals): handle populate virtuals
  src/index.js
Due: eslint --fix --color

chore(npm): update updated packages
  package-lock.json
  package.json
Due: jsonlint --in-place, sort-package-json

chore(dev): update config
  .babelrc
  .eslintrc
  .gitattributes
  .lintstagedrc
  package-lock.json
  package.json
Due: jsonlint --in-place, sort-package-json

test(install): npm test runs tape
  package-lock.json
  package.json
Due: jsonlint --in-place, sort-package-json

test(base): tests for some base cases
  src/index.spec.js
Due: eslint --fix --color

ci(tests): run tests with codecov upload
  .gitignore
  .travis.yml
  package-lock.json
  package.json
Due: jsonlint --in-place, sort-package-json

fix(travis): install npm
  .travis.yml
Due: none

perf(dev): don't lint all json files
  .lintstagedrc
  package.json
Due: jsonlint --in-place, sort-package-json

ci(node): stop testing lower node versions
  .travis.yml
  package-lock.json
  package.json
Due: jsonlint --in-place, sort-package-json

docs(readme): codecov badge
  README.md
Due: none

ci(coverage): allow partials
  codecov.yml
  package.json
Due: jsonlint --in-place, sort-package-json

ci(coverage): enforce coverage
  .babelrc
  .gitignore
  .nycrc
  .travis.yml
  package-lock.json
  package.json
Due: jsonlint --in-place, sort-package-json

ci(coverage): listen to nyc
  .gitignore
  .nycrc
  .travis.yml
  package.json
Due: jsonlint --in-place, sort-package-json

ci(travis): NODE_ENV=test
  .travis.yml
  package.json
  src/index.js
Due: eslint --fix --color, jsonlint --in-place, sort-package-json

test(populate): populateable virtuals become entities
  .nycrc
  src/index.spec.js
Due: eslint --fix --color, jsonlint --in-place

test(base): exclude base refs
  src/index.js
  src/index.spec.js
Due: eslint --fix --color

feat(subdocs): make entities from subdocs
  src/index.js
  src/index.spec.js
Due: eslint --fix --color

ci(coverage): always upload coverage
  .travis.yml
Due: none

ci(coverage): let codecov deal with coverage failures
  .nycrc
  .travis.yml
  codecov.yml
Due: jsonlint --in-place
